/* Global rules */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background-color: lightgrey;
    font-family: "Roboto", sans-serif;
    font-size: 0.95em;
    text-decoration: #000;
    line-height: 1.5em;
    /*background-image: url("../images/background.jpg");*/
    background-repeat: repeat;
    background-size: 2000px 1200px;
    background-attachment: fixed;
}

body{
    margin: 0; /* removes gap at top of page */
    position: relative;
}

::selection {
    color: #000; 
    background: rgb(235, 160, 9);
}

h1 {
    font-weight: normal;
    margin: auto;
    line-height: 2.5em;
}
/*
The border radius on h1.page-header and main.wrapper provide the 
curved corners that appear on the body area of the page
*/

h1.page-header{
    font-family: 'Noto+Sans',sans-serif;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

main.wrapper {
    margin-top: 65px;
    background-color: #D7F9FF;
    overflow: auto;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

details summary > * { 
    display: inline;
}

details {
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
}

.faq {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

summary {
    display: flex;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after{
    content: '';
    background: url(https://fontawesome.com/icons/chevron-down?f=classic&s=solid)
    /* .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: white;
    padding-left: 5px;
    <i class="fa-solid fa-chevron-down"></i>
}*/
}

ul {
    list-style-type: none;
}

p {
    text-align: center;
    margin: 1em; /* Top Right Bottom Left (TRBL) */
}

p.hidden-text {
    line-height: 0; 
    font-size: 0;
    color: transparent;
}

h2,h3 {
    font-weight: normal;
    text-align: center;
    line-height: 1em;
}

a {
    color: #4A4DE7;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: #c6e5ff;
    text-decoration: none;
}

button {
    margin: auto;
    align-items: center;
    background-color: #D7F9FF;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: block;
    fill: #000;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:focus {
    color: #171e29;
}

button:hover {
    border-color: #023047;
    color: #023047;
    fill: #023047;
}

button:active {
    border-color: #023047;
    color: #023047;
    fill: #023047;
}

img.logo {
    display: block;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    height: auto;
    max-width: 500px;
}
img.logo:hover {
    text-decoration: none;
}

video.hero {
    max-width: 100%;
}

.discountrow:after {
    content:"";
    display: table;
    clear:both;
}

.discountcolumn {
    float: left;
    width: 33%;
}

.flexible img {
    width: 100%;
}

.flexible {
    display: flex;
    justify-content: space-evenly;
}

.flexible > div {
    max-width: 300px;
}

.justifyright {
    justify-content: right;
}

#map {
    position: relative;
    width: 100%;
}

#iframe {
    width: 100%;
    height: 700px;
    border: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}


/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 100%;
        margin: auto;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
}

/* TABLET */
@media (min-width: 768px) {
    button {
    min-width: 170px;
    }
}
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }
    .logo img {
        margin-top: 100px;
    }

    .faq {
        margin: 5%;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
        margin-top: 0;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 100%;
    }
    .logo img {
        margin-top: 140px;
    }
    
    .faq {
        margin: 0;
    }
    
    .discountcolumn {
        width: 100%;
    }
}
