/* Global rules */

.topnav {
    margin: auto;
    background-color: #020347;
    overflow: auto;
    position: fixed;
    width: 80%;
}

.topnav.scrolled{
    background-color: #004da8 !important;
    transition: background-color 200ms ease-in-out;
}

.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}
.topnav a:hover {
    background-color: #023047;
}

.topnav a.active {
    background-color: darkcyan;
}

.topnav .icon {
    display: none;
}

.topnav a.telephone {
    margin-left: 15%;
}

.fa-brands {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    color: white;
    padding: 12px 15px !important;
}
.fa-tiktok {
    color: white;
}
.fa-youtube {
    color: white;
}
.fa-instagram {
    color: white;
}
.fa-yelp {
    color: white;
}
.social-container {
    display: flex;
    justify-content: right;
}

/* Responsive rules - apply when screen width is less than 1200px */

@media screen and (max-width: 1199px) {
    .topnav a:not(.telephone,:first-child) {
        display: none;
    }
    
    .topnav a.icon {
        float: right;
        display: block;
    }
    
    .topnav.responsive {
        position: fixed;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-left: auto;
        background-color: black;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .social-container {
        display: none;
    }

}


/* DESKTOP */
@media all and (min-width:1200px) {
    .topnav {
        width: 80%;
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    .topnav {
        width: 90%;
    }
    .telephone {
        margin-left: auto !important;
        justify-content: left;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    .topnav {
        width: 100%;
    }
}
