/* Global rules */

.topnav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: transparent;
    overflow: auto;
    position: fixed;
}

.scrolled {
    background-color: #020347 !important;
    transition: background-color 200ms ease-in-out;
}

.topnav a {
    flex-grow: 1;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}
.topnav a:hover {
    background-color: #023047;
}

.topnav a.active {
    background-color: darkcyan;
}

.topnav .icon {
    display: none;
}

.topnav a.telephone {
    position: relative;
    margin-left: 10%;
}

.fa-brands {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    color: white;
    padding: 12px 15px !important;
}
.fa-tiktok {
    color: white;
}
.fa-youtube {
    color: white;
}
.fa-instagram {
    color: white;
}
.fa-yelp {
    color: white;
}
.social-container {
    display: flex;
    justify-content: flex-end;
}

/* Responsive rules - apply when screen width is less than 1200px */

@media screen and (max-width: 1199px) {
    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    .topnav a:not(.telephone,:first-child) {
        display: none;
    }
    
    .topnav a.icon {
        float: right;
        display: block;
    }
    
    .topnav.responsive {
        position: fixed;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive .social-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto; /* Push social container to bottom */
        margin-right: 15px; /* Adjust margin as needed */
    }

    .topnav.responsive .telephone {
        display: block;
        margin-left: auto;
        margin-right: 15px; /* Adjust margin as needed */
    }

    .social-container {
        display: none;
    }
}

/* DESKTOP */
@media all and (min-width:1200px) {
    .topnav {
        width: 80%;

    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    .topnav {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    .topnav {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}
